'fileTypes': [
  'editorconfig'
]
'name': 'editorconfig'
'patterns': [
  {
    'begin': '(^[ \\t]+)?(?=#)'
    'beginCaptures':
      '1':
        'name': 'punctuation.whitespace.comment.leading.ini'
    'end': '(?!\\G)'
    'patterns': [
      {
        'begin': '#'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.ini'
        'end': '\\n'
        'name': 'comment.line.number-sign.ini'
      }
    ]
  }
  {
    'begin': '(^[ \\t]+)?(?=;)'
    'beginCaptures':
      '1':
        'name': 'punctuation.whitespace.comment.leading.ini'
    'end': '(?!\\G)'
    'patterns': [
      {
        'begin': ';'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.ini'
        'end': '\\n'
        'name': 'comment.line.semicolon.ini'
      }
    ]
  }
  {
    'match': '(indent_style)\\s*(=)\\s*([Tt][Aa][Bb]|[Ss][Pp][Aa][Cc][Ee])\\b'
    'captures':
      '1':
        'name': 'keyword.other.definition.indent_style.ini'
      '2':
        'name': 'punctuation.separator.key-value.ini'
      '3':
        'name': 'variable.parameter.indent_style.ini'
  }
  {
    'match': '(indent_size)\\s*(=)\\s*(\\d+|[Tt][Aa][Bb])\\b'
    'captures':
      '1':
        'name': 'keyword.other.definition.indent_size.ini'
      '2':
        'name': 'punctuation.separator.key-value.ini'
      '3':
        'name': 'variable.parameter.indent_size.ini'
  }
  {
    'match': '(tab_width)\\s*(=)\\s*(\\d+)\\b'
    'captures':
      '1':
        'name': 'keyword.other.definition.tab_width.ini'
      '2':
        'name': 'punctuation.separator.key-value.ini'
      '3':
        'name': 'variable.parameter.tab_width.ini'
  }
  {
    'match': '(end_of_line)\\s*(=)\\s*([Ll][Ff]|[Cc][Rr]|[Cc][Rr][Ll][Ff])\\b'
    'captures':
      '1':
        'name': 'keyword.other.definition.end_of_line.ini'
      '2':
        'name': 'punctuation.separator.key-value.ini'
      '3':
        'name': 'variable.parameter.end_of_line.ini'
  }
  {
    'match': '(charset)\\s*(=)\\s*([Ll][Aa][Tt][Ii][Nn]1|[Uu][Tt][Ff]-8|[Uu][Tt][Ff]-16[BLbl][Ee])\\b'
    'captures':
      '1':
        'name': 'keyword.other.definition.charset.ini'
      '2':
        'name': 'punctuation.separator.key-value.ini'
      '3':
        'name': 'variable.parameter.charset.ini'
  }
  {
    'match': '(trim_trailing_whitespace)\\s*(=)\\s*([Tt][Rr][Uu][Ee]|[Ff][Aa][Ll][Ss][Ee])\\b'
    'captures':
      '1':
        'name': 'keyword.other.definition.trim_trailing_whitespace.ini'
      '2':
        'name': 'punctuation.separator.key-value.ini'
      '3':
        'name': 'variable.parameter.trim_trailing_whitespace.ini'
  }
  {
    'match': '(insert_final_newline)\\s*(=)\\s*([Tt][Rr][Uu][Ee]|[Ff][Aa][Ll][Ss][Ee])\\b'
    'captures':
      '1':
        'name': 'keyword.other.definition.insert_final_newline.ini'
      '2':
        'name': 'punctuation.separator.key-value.ini'
      '3':
        'name': 'variable.parameter.insert_final_newline.ini'
  }
  {
    'match': '(root)\\s*(=)\\s*([Tt][Rr][Uu][Ee]|[Ff][Aa][Ll][Ss][Ee])\\b'
    'captures':
      '1':
        'name': 'keyword.other.definition.root.ini'
      '2':
        'name': 'punctuation.separator.key-value.ini'
      '3':
        'name': 'variable.parameter.root.ini'
  }
  {
    'captures':
      '1':
        'name': 'punctuation.definition.entity.ini'
      '3':
        'name': 'punctuation.definition.entity.ini'
    'match': '^(\\[)(.*?)(\\])'
    'name': 'entity.name.section.group-title.ini'
  }
  {
    'begin': '\''
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.ini'
    'end': '\''
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.ini'
    'name': 'string.quoted.single.ini'
    'patterns': [
      {
        'match': '\\\\.'
        'name': 'constant.character.escape.ini'
      }
    ]
  }
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.ini'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.ini'
    'name': 'string.quoted.double.ini'
  }
]
'scopeName': 'source.ini'
